.fondoHeader{
    background:$color-secundario ;
    overflow: hidden;
    border-bottom: rgb(4, 8, 255) ridge 3px;;
    .tamanioFuente{
        font-weight: 600;
        background:$color-secundario;
        border-radius: map-get($border-Radio, diez);
        font-size: 25px;
        font-family: $fuente-secundaria;
            .navEfecto:hover{
                transition: 500ms;
                color: rgb(0, 0, 0);
                font-weight: 400;
                background: rgba(255, 255, 255, 0.836);
                border-radius: map-get($border-Radio, diez);
            
                
            }
    }
    .logo a{
        h2{
            font-size: 35px;
            display: flex;
            color: $color-primario;
            font-family: $fuente-primaria;
            font-weight: 600;
            margin-left: 10px;
        }
        img{
            height: 80px;
            margin-right: 40px;
        }
    }
}
