*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fondoContenedorPrincipalNosotros{
    background:$color-secundario;
    padding: 0;
    overflow: hidden;    
    .imagenGrande {
        width: 100%;
        border-radius: 20px;
        margin-bottom: 20px;
    }
}
.titulo{
    color: $color-primario;
    font-weight: 600;
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
}
.titulo2{
    color: $color-secundario;
    font-weight: 600;
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
}

.bordeMotos
{
    border: black solid 1px;
}

.bordeFormulario{
    border-radius: 20px;
    height: 400px;
    border: #b3b1b1 solid 1px;
    box-shadow: 3px 5px 10px #000;
    background-color: $color-secundario;
}

.imagenGrandeError{
    background-color: $color-primario;

}