$color-primario:#fc5c0096 ;
$color-secundario:#ffffff;

$fuente-primaria:'Raleway', sans-serif;
$fuente-secundaria:'Poppins', sans-serif;



$border-Radio:(
    treinta: 30px,
    veinte:20px,
    diez: 10px,
    ocho: 8px,
);